.grid_div{
    display: grid;
    grid-template-columns: repeat(3, 150px);
    gap: 15px;
    justify-content: center;
    text-align: center;
    font-size: x-large;
}

button{
    background-color: cornflowerblue;
    padding: 10px;
}
